{
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
            "ecmaVersion": 6,
            "sourceType": "module"
    },
    "rules": {
       "prefer-const": 2,
       "no-var": 2,
       "no-new-object": 2,
       "no-array-constructor": 2,
       "prefer-template": 2,
       "quotes": [2, "single", "avoid-escape"],
       "template-curly-spacing": 2,
       "prefer-rest-params": 2,
       "no-param-reassign": 2,
       "prefer-arrow-callback": 2,
       "arrow-spacing": 2,
       "no-useless-constructor": 2,
       "no-iterator": 2,
       "dot-notation": 2,
       "one-var": [2, "never"],
       "eqeqeq": 2,
       "radix": 2,
       "no-case-declarations": 2,
       "no-unused-vars": 1,
       "space-before-blocks": 2,
       "keyword-spacing": 2,
       "no-nested-ternary": 2,
       "space-infix-ops": 2,
       "padded-blocks": [1, "never"],
       "space-in-parens": [2, "never"],
       "array-bracket-spacing": [2, "never"],
       "no-unneeded-ternary": 2,
       "brace-style": 2,
       "semi": [2, "never"],
       "camelcase": 2,
       "new-cap": 2,
       "max-len": 1,
       "indent": [2, 2, {"SwitchCase": 1}],
       "arrow-parens": [2, "as-needed"],
       "no-trailing-spaces": 2
    }
}
