@import url(https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro);
@import 'reset-css/reset.css';

:root {
  --background: #282828;
  --foreground: #ebdbb2;
  --red: #fb4934;
}

@custom-media --large screen and (min-width: 45em);
@custom-media --small screen and (max-width: 44em);

*, *:after, *:before {
  box-sizing: border-box;
}

*::selection {
  background: var(--red);
  color: var(--background);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10em 10%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.625;
  background: var(--background);
  color: var(--foreground);

  @media (--large) {
    font-size: 115%;
  }
}

main {
  padding-top: 2em;
  flex-grow: 1;
}

a:before {
  content: '— ';
}

a {
  color: var(--foreground);
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.1s ease-out;

  &:hover {
    color: var(--red);
  }

  &.disabled {
    color: #504945;

    &:hover:after {
      color: var(--red);
      @media (--large) {
        content: ' (coming soon)';
      }
    }

    @media (--small) {
      &:after {
        content: ' (coming soon)';
      }
    }
  }
}


h1 {
  font-family: 'Merriweather', serif;
  font-size: 7vmax;
  color: #fbf1c7;
}

p {
  text-align: justify;
  margin-top: 2em;
  max-width: 30em;
  color: #928374;
}

li {
  line-height: 1.8em;
}

footer {
  margin-top: 6em;
  color: #504945;
  text-align: center;
}
